@import "./base/common";

.shape {
  z-index: -1;
  position: absolute;
}

.of-hero {
  position: relative;
  overflow: visible;

  .text {
    text-align: center;
  }

  .shape {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.of-benefits {
  .benefit-card {
    display: flex;
    margin-bottom: 50px;

    .benefit-icon {
      min-width: 60px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .benefit-icon-1 {
      background-image: url("../images/of-module/granted-benefits-icon-01.svg");
    }

    .benefit-icon-2 {
      background-image: url("../images/of-module/granted-benefits-icon-02.svg");
    }

    .benefit-icon-3 {
      background-image: url("../images/of-module/granted-benefits-icon-03.svg");
    }

    .benefit-icon-4 {
      background-image: url("../images/of-module/granted-benefits-icon-04.svg");
    }

    .benefit-icon-5 {
      background-image: url("../images/of-module/granted-benefits-icon-05.svg");
    }

    .benefit-icon-6 {
      background-image: url("../images/of-module/granted-benefits-icon-06.svg");
    }
  }
}

.of-general-information {
  position: relative;
  overflow: visible;

  .title {
    text-align: center;
  }

  .content > ul {
    margin: 0;
  }

  .shape {
    width: 95%;
    top: 0;
    left: 0;
  }
}

.of-service-description {
  position: relative;
  overflow: visible;

  .title {
    text-align: center;
  }

  .content > ul {
    margin: 0;
  }

  .shape {
    width: 60%;
    bottom: 0;
    right: 0;
  }
}

.of-characteristics {
  .characteristic-card {
    height: 100%;
    padding: 50px;
    border: 1px solid #ebebeb;
    text-align: center;

    img {
      min-height: 100px;
      object-fit: contain;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
  }
}

.of-showcase {
  .mocks {
    display: flex;

    .mock-left {
      flex: 1;
    }
  }
}

.of-testimonials {
  background-color: #eaf4ff;

  .testimonial {
    padding: 20px 0;

    .avatar {
      position: relative;
      width: 96px;
      height: 96px;
      margin: 0 auto;

      .avatar-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }
    }

    .quotation-mark {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 38px;
      height: 38px;
      padding: 10px;
      background-color: $primary;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .testimonial-text {
      font-size: 20px;
      margin: 22px auto;
      font-weight: bold;
    }
  }

  .carousel-wrapper {
    position: relative;

    .carousel {
      width: 80%;
      margin: 0 auto;
      overflow: hidden;

      .carousel-slides {
        display: flex;
      }

      .carousel-slide {
        min-width: 100%;
      }
    }

    .carousel-control {
      position: absolute;
      width: 26px;
      height: 52px;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      cursor: pointer;
    }

    .carousel-control-left {
      left: 0;
      background-image: url("../images/of-module/left-arrow.svg");
    }

    .carousel-control-right {
      right: 0;
      background-image: url("../images/of-module/right-arrow.svg");
    }
  }
}

@media screen and (min-width: $tablet) {
  .text-image-section {
    .text {
      width: 44%;
    }

    .image {
      width: 54%;
    }
  }

  .of-hero {
    .text {
      text-align: left;
    }

    .shape {
      width: 80%;
    }
  }

  .of-benefits {
    .benefit-card {
      .benefit-icon {
        min-width: 90px;
        margin: 0 20px;
      }
    }

    .benefit-card-reversed {
      flex-direction: row-reverse;

      .content {
        text-align: right;
      }
    }
  }

  .of-general-information {
    .title {
      text-align: left;
    }

    .shape {
      width: 50%;
    }
  }

  .of-service-description {
    .title {
      text-align: left;
    }

    .shape {
      width: 50%;
      bottom: -120px;
    }
  }

  .of-showcase {
    .mocks {
      .mock-right {
        width: 220px;
        margin-left: -150px;
        margin-top: 100px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .of-service-description {
    .shape {
      width: 35%;
      bottom: -150px;
    }
  }

  .of-characteristics {
    .characteristic-card {
      text-align: left;
    }
  }

  .of-testimonials {
    .testimonial {
      .testimonial-text {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: $widescreen) {
  .of-general-information {
    .shape {
      top: -120px;
    }
  }

  .of-showcase {
    .mocks {
      .mock-right {
        width: 300px;
        margin-left: -150px;
        margin-top: 100px;
      }
    }
  }
}
