<!DOCTYPE html>
<html>
<%- include('partials/head', { styles: ['ta-module'] }) %>

<body class="has-navbar-fixed-top">
  <%- include('partials/navbar') %>
  <section class="section ta-hero">
    <div class="container">
      <div class="text-image-section">
        <div class="text">
          <h2 class="title is-size-2-desktop has-text-primary">OBS</h2>
          <h1 class="large-title">TIME & ATTENDANCE</h1>
          <p class="subtitle is-size-4-desktop">
            Различен по концепт | Гъвкав по дизайн | Ултра бърз
          </p>
          <button class="button is-warning has-text-white has-text-weight-bold p-l-xl p-r-xl">ПОИСКАЙТЕ ОФЕРТА</button>
        </div>
        <div class="image">
          <img src="./images/ta-module/illustration1-header_pics.svg" alt="">
        </div>
      </div>
    </div>
    <img class="clouds" src="./images/ta-module/clouds.svg">
  </section>
  <section class="section has-background-white ta-features">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">OBS ERP FEATURES</h2>
      <div class="columns is-multiline">
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-1 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Човешки ресурси</h4>
              <p>
                Запис на служители<br>
                Договор и НКПД<br>
                Квалификация<br>
                Заплата / часова ставка
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-2 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Персонал</h4>
              <p>
                Отдели/Звена<br>
                Организационна структура<br>
                Отчитане на време по задачи и/или проекти
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-3 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Работен график</h4>
              <p>
                Планиране на график<br>
                Запис на промени<br>
                Управление на отсъствия<br>
                Управление на извънреден труд
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-4 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Персонализирани доклади</h4>
              <p>
                Отработено време<br>
                Напускащи<br>
                Отсъствия breakdown<br>
                Извънреден труд
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section ta-description">
    <div class="container">
      <div class="text-image-section">
        <div class="text">
          <h2 class="title is-size-2-desktop has-text-centered p-b-lg">КАКВО ПРЕДСТАВЛЯВА?</h2>
          <p>
            Т&А е облачно решение за управление на човешки ресурси, работни графици, отсъствия и отпуски във фирми и
            организации с над 5 служителя без ограничение за максимален брой.
          </p>
          <p>
            Покриват всички модели на работно време (нормирано, ненормирано, сумарно, нощен труд) и са напълно
            съобразени с изискванията на Кодекса на труда по отчисляване на отработено време, преобразуване на нощен в
            дневен труд, отчитане на допълнително работно време, отпуски, почивни дни и тнт.
          </p>
          <p>
            Софтеура предоставя богат набор от документи свързани със заявки за отсъствия, уведомления и др., според
            изискванията и съдържащи съответните членове от Кодекса на Труда.
          </p>
          <p>
            Автоматично генерира в реално време и за определени периоди справки по различни критерии.
          </p>
          <p>
            Позволява експорт в различни формати и връзка с трети системи.
          </p>
        </div>
        <div class="image">
          <img src="./images/ta-module/illustration-description.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section has-background-white ta-benefits">
    <div class="container">
      <div class="text-image-section section-reversed">
        <div class="text">
          <h2 class="title is-size-2-desktop has-text-centered p-b-lg">ПОЛЗИ ОТ ВНЕДРЯВАНЕТО</h2>
          <div class="content">
            <ul>
              <li>Едновременно планиране и управляване на различни модели работен график: нормален; ненормиран и сумарен
              </li>
              <li>Автоматизиране на заявки и процеси по отпуски</li>
              <li>Пълно съответствие с разпоредбите на Кодекса на труда</li>
              <li>Архив на документацията</li>
              <li>Отчети в реално време и за изминали периоди по различни критерии</li>
              <li>Ултрабърз – уеб базиран, написан на най-новия програмен език на Google – GO</li>
              <li>Интуитивен интерфейс, мобилна версия, достъпен от всякакви устройства</li>
              <li>Мултиезичен (български, английски, френски и др. езици, както и промяна на езика в реално време)</li>
              <li>Персонализиран интерфейс на ниво потребител</li>
              <li>Различни потребителски групи</li>
              <li>Възможност за връзка с трети системи</li>
              <li>Възможност за надграждане на функционалности (отчитане на работно време, проекти, задачи, финанси,
                автопарк и др.)</li>
            </ul>
          </div>
        </div>
        <div class="image">
          <img src="./images/ta-module/illustration5-Benefits.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section ta-process">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">ПРОЦЕС</h2>
      <div class="columns is-multiline">
        <div class="column">
          <div class="process-card has-text-centered has-background-white">
            <img class="p-b-md" src="./images/ta-module/illustration6-process-icon1.svg" alt="">
            <div class="content">
              <h4 class="title is-4">Планиране</h4>
              <p>
                Планиране и съставяне на работния график
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="process-card has-text-centered has-background-white">
            <img class="p-b-md" src="./images/ta-module/illustration6-process-icon2.svg" alt="">
            <div class="content">
              <h4 class="title is-4">Проследяване и контрол</h4>
              <p>
                Отразяване на промените и отчитане на отсъствията
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="process-card has-text-centered has-background-white">
            <img class="p-b-md" src="./images/ta-module/illustration6-process-icon3.svg" alt="">
            <div class="content">
              <h4 class="title is-4">Отчитане</h4>
              <p>
                Отчитане на период - (месечен, тримесечен, годишен)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section has-background-white ta-characteristic">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">ХАРАКТЕРИСТИКИ</h2>
      <div class="mocks">
        <div class="laptop">
          <div class="device-mock">
            <div class="laptop">
              <div class="screen">
                <div class="content">
                  <div class="slider">
                    <img src="./images/ta-module/slide-01-01.png" alt="obs-pm-screen">
                    <img src="./images/ta-module/slide-01-02.png" alt="obs-pm-screen">
                    <img src="./images/ta-module/slide-01-03.png" alt="obs-pm-screen">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="phone">
          <div class="device-mock">
            <div class="phone">
              <div class="screen">
                <div class="content">
                  <div class="slider">
                    <img src="./images/ta-module/slide-02-01.jpg" alt="obs-pm-screen">
                    <img src="./images/ta-module/slide-02-02.jpg" alt="obs-pm-screen">
                    <img src="./images/ta-module/slide-02-03.jpg" alt="obs-pm-screen">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section ta-contact-us">
    <div class="container">
      <div class="kek p-b-lg">
        <div class="image">
          <img src="./images/ta-module/illustration7-time is money.svg" alt="">
        </div>
        <div class="text">
          <p class="large-title">ВРЕМЕТО Е ПАРИ,</p>
          <p class="subtitle is-size-2-desktop p-l">а правилното му планиране</p>
          <p class="large-title has-text-primary p-l">ИНВЕСТИЦИЯ...</p>
        </div>
      </div>
      <div class="has-text-centered">
        <button class="button is-warning has-text-white has-text-weight-bold p-l-xl p-r-xl">СВЪРЖЕТЕ СЕ С НАС</button>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
  <%- include('partials/toggle-menu') %>
</body>

</html>