<!DOCTYPE html>
<html>
<%- include('partials/head', { styles: ['ta-module'] }) %>

<body class="has-navbar-fixed-top">
  <%- include('partials/navbar') %>
  <section class="section has-background-white ta-features">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">OBS ERP FEATURES</h2>
      <div class="columns is-multiline">
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-1 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Човешки ресурси</h4>
              <p>
                Запис на служители<br>
                Договор и НКПД<br>
                Квалификация<br>
                Заплата / часова ставка
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-2 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Персонал</h4>
              <p>
                Отдели/Звена<br>
                Организационна структура<br>
                Отчитане на време по задачи и/или проекти
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-3 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Работен график</h4>
              <p>
                Планиране на график<br>
                Запис на промени<br>
                Управление на отсъствия<br>
                Управление на извънреден труд
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="feature-card">
            <div class="feature-icon feature-icon-4 m-r-md"></div>
            <div class="content">
              <h4 class="title is-4">Персонализирани доклади</h4>
              <p>
                Отработено време<br>
                Напускащи<br>
                Отсъствия breakdown<br>
                Извънреден труд
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section ta-description">
    <div class="container">
      <div class="content">
        <h2 class="title is-size-2-desktop has-text-centered p-b-lg">КАКВО ПРЕДСТАВЛЯВА?</h2>
        <p>
          Т&А е облачно решение за управление на човешки ресурси, работни графици, отсъствия и отпуски във фирми и
          организации с над 5 служителя без ограничение за максимален брой. Покриват всички модели на работно време
          (нормирано, ненормирано, сумарно, нощен труд) и са напълно съобразени с изискванията на Кодекса на труда по
          отчисляване на отработено време, преобразуване на нощен в дневен труд, отчитане на допълнително работно време,
          отпуски, почивни дни и тнт. Софтеура предоставя богат набор от документи свързани със заявки за отсъствия,
          уведомления и др., според изискванията и съдържащи съответните членове от Кодекса на Труда. Автоматично
          генерира
          в реално време и за определени периоди справки по различни критерии. Позволява експорт в различни формати и
          връзка с трети системи.
        </p>
      </div>
      <img class="illustration" src="./images/ta-module/illustration-description.svg" alt="">
    </div>
  </section>
  <%- include('partials/footer') %>
  <%- include('partials/toggle-menu') %>
</body>

</html>
