<footer class="footer">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="content">
          <img src="./images/obs2go-logo-footer.png" alt="obs2go-logo" width="160" />
          <p>Address: Bratia Bukston No. 85, Sofia, Bulgaria</p>
          <p>Phone: +359 88 911 0719</p>
          <p>Email: Office@obs2go.com</p>
          <button class="button is-primary ">CONACT US</button>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4 class="is-6 has-text-white">Modules</h4>
          <ul class="content">
            <li>
              <a href="#"> OBS Accounting</a>
            </li>
            <li>
              <a href="#"> OBS Collaboration</a>
            </li>
            <li>
              <a href="#"> OBS Communications</a>
            </li>
            <li>
              <a href="#"> OBS CRM</a>
            </li>
            <li>
              <a href="#"> OBS Docs</a>
            </li>
            <li>
              <a href="#"> OBS Finance</a>
            </li>
            <li>
              <a href="#"> OBS Fleet Management</a>
            </li>
            <li>
              <a href="#"> OBS HR</a>
            </li>
            <li>
              <a href="#"> OBS Projects & Tasks</a>
            </li>
            <li>
              <a href="#"> OBS Sales</a>
            </li>
            <li>
              <a href="#"> OBS Warehouse</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4 class="is-6 has-text-white p-b-md">Terms and conditions</h4>
          <h4 class="is-6 has-text-white p-b-md">Privacy policy</h4>
          <h4 class="is-6 has-text-white p-b-md">Cookie policy</h4>
          <h4 class="is-6 has-text-white p-b-md">Email preference center</h4>
          <h4 class="is-6 has-text-white p-b-md">Support</h4>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copiright">
  <div class="content">
    <p>www.obs2go.com &copy; 2020. All rights reserved</p>
  </div>
</div>
