<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="index.html">
        <img src="./images/obs2go-logo.png" alt="obs2go-logo" width="120" />
      </a>
      <div class="navbar-burger burger toggle-menu" data-target="obs2go-navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
    <div id="obs2go-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="index.html">Solutions</a>
        <a class="navbar-item" href="#">Services</a>
        <a class="navbar-item" href="#">Support</a>
        <a class="navbar-item" href="#">OBS ERP RM</a>
        <a class="navbar-item" href="#">Company</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="#">Login</a>
        <div class="navbar-item">
          <a class="button is-primary has-text-weight-bold p-l-xl p-r-xl">
            TRY FOR FREE
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
